* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Poppins' , sans-serif;
    overflow: hidden;
    background-color: $app-bg;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    @extend %d-flex;
    @extend %w-100;
    height: 100vh;
}